{
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "@constants": "./src/Constants",
          "@utils": "./src/Utils"
        }
      }
    ]
  ]
}
